# Get test scores

## Import libraries

In [1]:
import pandas as pd

In [2]:
demo_data = pd.read_csv('../data/demo-data.csv')
demo_data.head()

    name                            question1                  question2
0  David  [Correct;Incorrect;Other Incorrect]  [Right;Wrong;Other Wrong]
1  Jenny                            [Correct]                    [Right]
2  Osama                          [Incorrect]              [Other Wrong]
3    Bin                    [Other Incorrect]                    [Wrong]
4   Anna              [Correct;Other Correct]        [Right;Other Right]

In [3]:
question_1_correct_responses = ['Correct', 'Other Correct']
question_2_correct_responses = ['Right', 'Other Right']
question_1_incorrect_responses = ['Incorrect', 'Other Incorrect']
question_2_incorrect_responses = ['Wrong', 'Other Wrong']

In [4]:
# Write a function that checks if an object contains a value in a list
def check_value_in_list(value, list):
    if value in list:
        return True
    else:
        return False
    
# Wrap that function in a new function that takes a list, cycles over each value in that list and uses it as value in the first function, and then sums the True values

def count_values_in_list(list, check_list):
    count = 0
    for value in list:
        if check_value_in_list(value, check_list):
            count += 1
    return count

# Similar function but now flip it so that the count increments if values in check_list are not found in list

def count_values_not_in_list(lst, check_list):
    count = len(check_list)
    for value in check_list:
        if value in lst:
            count -= 1
    return count

In [5]:
# Make a function that converts a string with pattern [some words;some words] and converts it to a list of strings where the semi-colon is the separator
def convert_string_to_list(string):
    return string.strip('[]').split(';')

In [6]:
# Create a function for the above taking a different name and question as arguments
def extract_response(name, question, dataframe=demo_data):
    question_str = 'question' + str(question)  # Convert question number to column name
    response = dataframe.loc[dataframe['name'] == name, question_str]
    response_list = convert_string_to_list(response.values[0])
    return response_list

In [7]:
davids_q1_responses = extract_response('David', 1)
davids_q1_responses

['Correct', 'Incorrect', 'Other Incorrect']

In [8]:
davids_q1_correct_score = count_values_in_list(davids_q1_responses, question_1_correct_responses)
davids_q1_correct_score

1

In [9]:
davids_q1_incorrect_score = count_values_not_in_list(davids_q1_responses, question_1_incorrect_responses)
davids_q1_incorrect_score

0

In [17]:
davids_q1_total_score = davids_q1_correct_score + davids_q1_incorrect_score
davids_q1_total_score

1

In [14]:
annas_q1_correct_score = count_values_in_list(extract_response('Anna', 1), question_1_correct_responses)
annas_q1_correct_score

2

In [15]:
annas_q1_incorrect_score = count_values_not_in_list(extract_response('Anna', 1), question_1_incorrect_responses)
annas_q1_incorrect_score

2

In [18]:
annas_q1_total_score = annas_q1_correct_score + annas_q1_incorrect_score
annas_q1_total_score

4